<table class="profile" summary="Profile information">
    <tr>
        <td class="main">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <%= render 'follow_form' if signed_in? %>

            <% unless @user.microposts.empty? %>
                <table class="microposts" summary="User micropost">
                    <%= render @microposts %>
                </table>
                <%= will_paginate @microposts %>
            <% end %>
        </td>
        <td class="sidebar round">
            <strong>Name</strong> <%= @user.name %><br/>
            <strong>URL</strong>  <%= link_to user_path(@user), @user %><br/>
            <strong>Microposts</strong> <%= @user.microposts.count %>
            <%= render 'shared/stats' %>
        </td>
    </tr>
</table>